
<div class="banner">
    <div class="banner-text">SwiftEats</div>
    <div class="banner-subtext">Discover the best food & drinks in Mumbai</div>

    <!-- Move the search form below the subtext -->
    <form class="search-container">
        <input type="text" id="search-bar" placeholder="Search for dishes or a cuisine">
        <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
    </form>
    <div id="results"></div>
</div>

