    <div class="food">
        <div class="text_2">
            Inspiration for your first order
        </div>
        <div class="food-collection">
            <a href="#" class="food-item">
                <img src="/pizza.webp" alt="Pizza">
                <p>Pizza</p>
            </a>
            <a href="#" class="food-item">
                <img src="/biryani.webp" alt="Biryani">
                <p>Biryani</p>
            </a>
            <a href="#" class="food-item">
                <img src="/burger.webp" alt="Burger">
                <p>Burger</p>
            </a>
            <a href="#" class="food-item">
                <img src="/Thali.webp" alt="Thali">
                <p>Thali</p>
            </a>
            <a href="#" class="food-item">
                <img src="/chicken.webp" alt="Chicken">
                <p>Chicken</p>
            </a>
            <a href="#" class="food-item">
                <img src="/cake.webp" alt="Cake">
                <p>Cake</p>
            </a>
        </div>
    </div>

    <div class="brands">
        <h2 class="text_3">Top brands for you</h2>
        <div class="brands-collection">
            <a href="#" class="brand-item">
                <img src="/mac.webp" alt="McDonald's">
                <p>McDonald's</p>
                <span>22 min</span>
            </a>
            <a href="#" class="brand-item">
                <img src="/Burger-king.webp" alt="Burger King">
                <p>Burger King</p>
                <span>28 min</span>
            </a>
            <a href="#" class="brand-item">
                <img src="/Domino.webp" alt="Domino's Pizza">
                <p>Domino's Pizza</p>
                <span>25 min</span>
            </a>
            <a href="#" class="brand-item">
                <img src="/La.webp" alt="La Pino'z Pizza">
                <p>La Pino'z Pizza</p>
                <span>25 min</span>
            </a>
            <a href="#" class="brand-item">
                <img src="/Subway.webp" alt="Subway">
                <p>Subway</p>
                <span>18 min</span>
            </a>
            <a href="#" class="brand-item">
                <img src="/Cafe.webp" alt="Mani's Cafe">
                <p>Mani's Cafe</p>
                <span>23 min</span>
            </a>
        </div>
    </div>



