<div class="location">
    <div class="text_1">Popular localities in and around Mumbai</div>
    <div class="container">
        <a href="#" class="card"> 
            <h3>Lower Parel</h3>
            <p>501 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Powai</h3>
            <p>442 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Malad West</h3>
            <p>967 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Borivali West</h3>
            <p>695 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Bandra Kurla Complex</h3>
            <p>164 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Vashi</h3>
            <p>671 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Fort</h3>
            <p>343 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="card"> 
            <h3>Juhu</h3>
            <p>233 places</p>
            <span>&#8250;</span>
        </a>
        <a href="#" class="more"> 
            <h3>See more</h3>
            <span>&#8250;</span>
        </a>
    </div>
</div>
