<div class="banner">
    <div class="banner-text">Partner with SwiftEats
        and grow your business</div>
    <button class="register-btn">Register your restaurant</button>
   
</div>
<div class="why">
    <h2 class="line-heading">Why should you partner with SwiftEat?</h2>
</div>
<div class="query">
    <div class="content_1">
            <i class="fa fa-users user-icon" aria-hidden="true"></i>
            <p class="C_1_1">Attract new customers</p>
            <div class="m1">
                <p class="C_1_2">Reach the millions of people ordering on SwiftEats</p>
            </div>
    </div>
    <div class="content_2">
        <i class="fa-solid fa-truck user-icon"></i>
            <p class="C_1_1">Doorstep delivery convenience</p>
            <div class="m1">
                <p class="C_1_2">Easily get your orders delivered through our trained delivery partners</p>
            </div>
    </div>
    <div class="content_3">
        <i class="fa-solid fa-envelope user-icon"></i>
            <p class="C_1_1">Onboarding support  </p>
            <div class="m1">
                <p class="C_2_2">For any support, email us at merchantonboarding@SwiftEats.com</p>
            </div>
    </div>
</div> 