<div class="banner">
    <div class="banner-text">Partner with SwiftEats
        and grow your business</div>
    <button class="register-btn">Register your restaurant</button>
   
</div>
<div class="query">
    <div class="why">
        <!-- <p class="text">Why should you partner with SwiftEats</p> -->
        <h2 class="line-heading">Why should you partner with SwiftEat?</h2>
    </div>
    <div class="content_1">
            <i class="fa fa-users user-icon" aria-hidden="true"></i>
            <p class="C_1_1">Attract new customers</p>
            <div class="m1">
                <p class="C_1_2">Reach the millions of people ordering on Zomato</p>
            </div>
    </div>
</div> 