<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/style_3.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/logo.png" type="image/png">

    <title>SwiftEats</title>
  </head>
  <body>

    <%-include('./partials/nav_2') %> 
    <%-include('./partials/Res') %>
    <%-include('./partials/script') %>
  </body>

</html>
